<launch>
  <group ns="camera1">
    <include file="$(find bloodhound)/launch/camera1.launch" respawn="true"/>
  </group>

  <group ns="camera2">
    <include file="$(find bloodhound)/launch/camera2.launch" respawn="true"/>
  </group>

  <node pkg="rosserial_python" type="serial_node.py" name="rosserialnode" args="/dev/ttyACM0" respawn="true"/> 

</launch>
