<launch>
  <group ns="camera1">
    <include file="$(find bloodhound)/launch/camera1.launch" respawn="true"/>
    <include file="$(find apriltags2_ros)/launch/continuous_detection.launch">
      <arg name="image_topic" value="image_raw"/> 
      <arg name="camera_name" value="/camera1/camera"/>
    </include>
  </group>

  <group ns="camera2">
    <include file="$(find bloodhound)/launch/camera2.launch" respawn="true"/>
  </group>

  <node pkg="rosserial_python" type="serial_node.py" name="rosserialnode" args="/dev/ttyACM0" respawn="true"/> 

</launch>
