<launch>

  <node pkg="bloodhound" type="sitedegreemeasurement.py" name="sitedegreemeasurement" respawn="true" output="screen"/> 

  <node pkg="bloodhound" type="keyboard_monitor.py" name="keyboard_monitor" respawn="true" output="screen"/>

  <node pkg="rqt_gui" type="rqt_gui" name="dashboard" output="screen"/>  

</launch>
